<h1 class="text-center">Our team</h1>

<div>
	<ul class="list-inline text-center">
	  <% data.members.each do |name, member| %>
	    <li>
	      <h3><%= member["name"].capitalize %></h3>
	      <%= image_tag "#{member["name"].downcase}.jpg", class: "avatar-big" %>
	    </li>
	  <% end %>
	</ul>
</div>

<div>
	<a href="mailto:contact@airbnb.com">
      <i class="fa fa-envelope"></i> contact@airbnb.com
    </a>
</div>