<div>
	<ul class="list-inline text-center">
	  <% data.members.each do |name, member| %>
	    <li>
	      <%= image_tag "#{member["name"].downcase}.jpg", class: "avatar-big" %>
	      <h3><%= member["name"].capitalize %></h3>
	    </li>
	  <% end %>
	</ul>
</div>

<div>
	
</div>