<ul class="list-inline text-center">
  <% data.members.each do |name, member| %>
    <li>
      <%= image_tag "#{member["name"]}.jpg", class: "img-circle" %>
      <h3><%= member["name"].capitalize %></h3>
    </li>
  <% end %>
</ul>